numpy==2.5.2
python-telegram-bot==13.8.1
PyDrive2==1.10.0
requests==2.32.3
beautifulsoup4==4.12.3
matplotlib==3.11.2
pandas==3.0.6
Pillow==12.3.0
lxml==6.1.2
uvicorn==0.30.6
fastapi==0.112.2
chess==1.11.2
standard-imghdr==3.13.0
urllib3<2
setuptools<81
